<html>
  <head>
    <title>The Gossip Project</title>
  </head>
  <body>
    <h1>Mon super site de gossip, depuis le dossier views !</h1>

  <a href="/gossips/new">Créer un nouveau potin</a>
  <br><br>
    <% gossips.each_with_index do |gossip, index| %>
  <a href="/gossips/<%= index %>">
    <%= gossip.author %> : 
    <%= gossip.content %>
  </a>
  <br>
<% end %>
  </body>
</html>